# Spam Detection (Multinomial NB)

In [133]:
import pandas as pd

In [134]:
df=pd.read_csv("C:/Users/DELL/Desktop/spam.csv",encoding='latin-1')

# Data Preprocessing and Data Cleaning

In [135]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [136]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [137]:
df=df[['v1', 'v2']]
df.columns=['label','message']

In [138]:
df.head(3)

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [139]:
df.shape

(5572, 2)

In [140]:
df.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [142]:
df.isnull().sum()

label      0
message    0
dtype: int64

In [143]:
df['label']=df['label'].map({'ham':0,'spam':1})

In [144]:
df.head(3)

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...

# Training Model

In [145]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

vectorization to convert text into number in bag count

In [146]:
X=df['message']
y=df['label']


#vectorization
vec=CountVectorizer(stop_words='english')
x_vec = vec.fit_transform(X)

X_train,X_test,y_train,y_test=train_test_split(x_vec,y,test_size=0.2,random_state=43)
model=MultinomialNB()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print("Accuracy : ",accuracy_score(y_pred,y_test))
print("Classification matix :\n ",classification_report(y_pred,y_test))
print("Confusion Matix :\n",confusion_matrix(y_pred,y_test))

Accuracy :  0.979372197309417
Classification matix :
                precision    recall  f1-score   support

           0       0.98      0.99      0.99       949
           1       0.96      0.90      0.93       166

    accuracy                           0.98      1115
   macro avg       0.97      0.95      0.96      1115
weighted avg       0.98      0.98      0.98      1115

Confusion Matix :
 [[943   6]
 [ 17 149]]

In [150]:
#checking user input
user=input("Enter Message : ")
user_vec=vec.transform([user])
user_pred=model.predict(user_vec)[0]
if user_pred==1:
    print("Spam Message")
else:
    print("Not Spam Mesaage")

Enter Message :   entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry

Spam Message